@tailwind base;
@tailwind components;
@tailwind utilities;

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
